html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

ul {
  list-style: none;
}

@media screen and (max-width: 400px) {
  body {
    margin: 20px;
  }

  .alice-header {
    display: flex;
    align-items: center;
  }

  .title-header {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }

  .nav-header {
    font-size: 15px;
    line-height: 20px;
  }

  .aside-one {
    margin: auto;
    width: 100%;
  }

  .aside-one ul {
    padding: 0;
  }

  .title-aside-one {
    font-size: 18px;
  }

  .aside-two, footer {
    text-align: end;
    font-size: 12px;
  }

  .title-aside-two, title-footer {
    font-size: 15px;
  }

  .main-content {
    margin-top: 50px;
  }

  .title-chapter {
    font-size: 20px;
    text-align: center;
  }

  .main-content p {
    text-align: justify;
    font-size: 17px;
  }
}