

div:hover{
    border: 3px solid black;
}

div:nth-of-type(1) {
    background-color: yellow;
}

div:nth-of-type(2) {
    background-color: #854aa4;
}

div:nth-of-type(3) {
    background-color: #24b550;
}

div:nth-of-type(4) {
    background-color: rgb(146, 9, 9);
}

div:nth-of-type(5) {   
    background-color: #c9e6ca;
}

div:nth-of-type(2n+1) h3 {
    font-style: italic;
}