h1 {
    font-weight: 65px;
    color: orange;
    font-family: sans-serif;
    text-decoration: underline;
}
body {
    font-size: 16px;
    line-height: 1;
}
p {
    font-weight: 600;
    width: 3em;
}
ul {
    background-color: paleturquoise;
    font-style: italic;
    text-align: justify;
}
.favort-color {
    background-color: grey;
}
#yellow {
    background-color: yellow;
}
#red {
    background-color: red;
    color: whitesmoke;
    font-weight: bold;
}
#brown {
    background-color:rgb(99, 43, 43);
    color: white;
}