.super-mario {
    width: 150px;
    height: 200px;
    position: absolute;
    top: 50px;
    left: 10px;
    margin: 30px;
}

.goomba {
    width: 100px;
    height: 120px;
    position: absolute;
    top: 240px;
    left: 50px;
    margin: 30px;
}


.baloon {
    width: 130px;
    position: absolute;
    top: 90px;
    left: 200px;
    z-index: 1;
}

.word {
    width: 100px;
    position: absolute;
    top: 90px;
    left: 220px;
    z-index: 2;
}

.bowser {
    width: 150px;
    position: absolute;
    left: 300px;
    top: 150px;
}